* text=auto eol=lf
*.java text
*.xml text
*.yml text
*.md text
*.sh text
*.css text
*.txt text

*.jar binary
*.doc binary
*.class binary
*.png binary
*.jpg binary
*.bmp binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary
*.docx binary
*.chm binary
*.vsd binary
*.xls binary
*.xlsx binary
*.pptx binary
*.ppt binary
*.rar binary
*.tar binary
*.vsd binary
*.vsdx binary
